body{
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif ;
    margin: 0;
    background: #1f2937;
}


.header {
    /*Create a flex container to put items in the header in a row*/
    display: flex;
    font-size: 24px;
    color: #f9faf8;
    
    /*Center items vertically*/
    align-items: center;
    /*Create space between items and the margin*/
    justify-content: space-around;

   
}

.right-links{
    /*Create a flex container to put items in row*/
    display: flex;
    /*Create a gap between the links*/
    gap: 16px;

   

}

/* Removes all bullet points from unordered lists*/
ul {
    list-style-type: none;
}

ul a{
    /* removes underline from links */
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.welcome {
    display:flex;
    
    color: #e5e7eb;
    
     /*Center items vertically*/
     align-items: center;
     /*Create space between items and the margin*/
     justify-content: space-around;
    /*Use padding to align nav bar text with Hero text. I'm sure
    this can be done more accurately.*/
     padding: 80px 110px 0px 110px; 

     

    
}

.welcome-main {
    font-size: 48px;
    font-weight: 900;
}

.welcome-sub { 
    font-size: 18px;
}

/*Calls on the left class as a child of welcome*/
.welcome .left{
    display: flex;
    /*Put items in a column*/
    flex-direction: column;
    /*Create a row gap between items*/
    row-gap: 30px;
}

/*Calls on the right class as a child of welcome*/
.welcome-image{
    width: 30%;   
}

button {
    background: #3882f6;
    color:whitesmoke;
    font-size: 18px;
    /*use all margin on the right to push the button left*/
    margin-right: auto;
    padding: 5px 20px;
    border-radius: 12px;  
    box-shadow: none;
}

.banner-button {
    border: 2px solid whitesmoke;
    border-radius: 12px;
    
}

.cardContainer img{
    max-width: 300px;
}

.cardContainer {
    
    color: #1f2937;
    background: whitesmoke;

    text-align: center;
    
}

 .title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
    padding: 50px 0px;
    font-size: 36px;
    font-weight: 900;
    
}

.text{
    font-size: 18px;
    
}

.content {
    display: flex;

    justify-content: center;
    align-items: center;

    
    padding-bottom: 70px;
}

.quote {
    background: #e5e7eb;
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    padding: 70px 0px;
    display: flex;
    /*to stack the quote and author*/
    flex-direction: column;
     /*Center items vertically*/
     align-items: center;
     /*Create space between items and the margin*/
     justify-content: space-around;
}

.author {
    /*These properties are used to put the author of the quote in the bottom right corner*/
    align-self: flex-end;
    /*Pushes the author to the left so it is not on the edge of the box*/
    padding-right: 280px;
}

.action {
    
    padding: 70px;
    background: whitesmoke;
    
}

.banner{ 
    background: #3882f6;
    padding: 50px 0px;
    margin: 0px 90px;
    /*Create rounded corners*/
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
      
}

.banner-text {
    display:flex;
    flex-direction: column;
    color: whitesmoke;
    font-size: 18px;
}

.footer{
    padding: 40px 0px;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;    
}
